@import url("null_style.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
#root {
  height: 100vh;
}

body {
  font-family: Roboto;
}

header {
  height: 100px;
  color: white;
  width: 100%;
  z-index: 2;
  position: fixed;
}

.nav__wrap {
  background: #131921;
  max-width: 100%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__naming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 10px;
  height: 60px;
  cursor: pointer;
}

.sort__wrap {
  background: #222f3e;
  max-width: 100%;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  display: none;
}

.header__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  font-size: 1.6rem;
  height: 40px;
  padding: 0px 10px;
  margin: 0 auto;
  background: #222f3e;
}

.sort__child {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.sort__child:not(:last-child) {
  margin-right: 15px;
}

.sort__child:hover {
  color: orange;
}

.sort__child.active {
  margin-right: 15px;
  color: orange;
}

.cart__outlet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.cart__group {
  padding-left: 20px;
}

.cart__image {
  cursor: pointer;
}

.cart__text {
  font-size: 1rem;
}

main {
  padding-top: 110px;
  min-height: calc(100vh - 50px);
}

.num {
  font-size: 1.4rem;
  display: inline-block;
  position: relative;
  z-index: 3;
  text-align: center;
  color: orange;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  right: 29px;
  top: -3px;
  cursor: pointer;
}

.cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  width: calc((1200px - 18px*4)/4);
  font-size: 1.3rem;
  border: 2px solid #f5f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card img {
  margin-bottom: 10px;
  width: calc((1200px - 18px*4)/4);
  height: calc((1200px - 18px*4)/4);
}

.card p {
  padding: 0 5px;
  word-break: break-word;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  display: block;
  height: 35%;
  overflow: hidden;
  margin-bottom: 10px;
}

.card:hover {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: inset 0px 10px 10px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 10px 10px 2px rgba(0, 0, 0, 0.25);
}

.card__btn {
  padding: 5px 10px;
  margin-bottom: 5px;
}

.cart__btn {
  padding: 5px 10px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.card__chosen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  padding: 0 10px;
  width: 95%;
  word-break: break-all;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.card__chosen img {
  margin-right: 10px;
}

.side__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chs__btn {
  width: 100px;
  padding: 5px 10px;
}

footer {
  height: 50px;
  text-align: center;
  font-size: 2rem;
  background: #131A22;
  color: white;
  padding: 10px 0;
}

.subtitle {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: Roboto;
}

@media screen and (max-width: 1199px) {
  .card {
    width: calc((100vw - 25px*4)/4);
  }
  .card img {
    width: calc((100vw - 25px*4)/4);
    height: calc((100vw - 25px*4)/4);
  }
}

@media screen and (max-width: 769px) {
  .card {
    width: calc((100vw - 25px*3)/3);
  }
  .card img {
    width: calc((100vw - 25px*3)/3);
    height: calc((100vw - 25px*3)/3);
  }
}

@media screen and (max-width: 479px) {
  html {
    font-size: 12px;
  }
  .cards__wrapper {
    gap: 10px;
  }
  .num {
    top: 0px;
  }
  .card {
    width: calc((100vw - 25px*2)/2);
  }
  .card img {
    width: calc((100vw - 25px*2)/2);
    height: calc((100vw - 25px*2)/2);
  }
  .card__btn {
    margin-bottom: 0;
    padding: 5px 10px;
    width: 100%;
  }
}
/*# sourceMappingURL=App.css.map */